body {
	font-family: 'Noto Sans TC', sans-serif;
}
#goTop {
	width: 50px;
	height: 50px;
	background-color: #000;
	position: fixed;
	bottom: 20px;
	right: 20px;
	transform: translateY(100px);
	transition: .3s;
	opacity: 0;
	cursor: pointer;
}
#goTop.show {
	transform: translateY(0px);
	opacity: 1;
}
.stickyWrapper {
    width: 100%;
    position: sticky;
    min-height: var(--lt-content-min-height);
    top: var(--lt-sticky-top);
}
.stickyWrapper .container {
	height: 100vh;
	position: relative;
	overflow: hidden;
}
section {
    min-height: 200px;
    position: relative;
}

.kvSlider {

}

.section2 {
	min-height: 400vh;
    margin-bottom: -100vh;
    --lt-content-min-height: 100vh;
    --lt-sticky-top: 0;
}

.sectionMiddle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
	background-color: #000;
}
.sectionMiddle .textEffect {
	width: 100%;
	--color-1: rgba(155,93,229,1);
	--color-2: rgba(241,91,181,1);
	--color-3: rgba(254,228,64,1);
	--color-4: rgba(0,187,249,1);
	--color-5: rgba(0,245,212,1);
	font-size: 30px;
	font-weight: bold;
	color:#fff ;
	text-align: center;
}
.sectionMiddle .textEffect .effect1 {
	background: linear-gradient(135deg, var(--color-1) 0%, var(--color-2) 20%, var(--color-3) 40%, var(--color-4) 60%, var(--color-5) 80%,var(--color-1) 100%);
	background-size: 20% 20%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: 0% 0;
	animation: gradient 30s linear infinite;
}
.sectionMiddle .textEffect .effect2 {
	background-color: #000;
	letter-spacing: 0.8em;
	text-shadow:
	      4px -4px 0 hsla(0, 100%, 50%, 1), 
	      3px -3px 0 hsla(0, 100%, 50%, 1), 
	      2px -2px 0 hsla(0, 100%, 50%, 1), 
	      1px -1px 0 hsla(0, 100%, 50%, 1),
	      -4px 4px 0 hsla(180, 100%, 50%, 1), 
	      -3px 3px 0 hsla(180, 100%, 50%, 1), 
	      -2px 2px 0 hsla(180, 100%, 50%, 1), 
	      -1px 1px 0 hsla(180, 100%, 50%, 1);
}
.sectionMiddle .textEffect .effect3 {
	background: linear-gradient(219deg, 
					var(--color-1) 19%,
					transparent 19%,transparent 20%, 
					var(--color-2) 20%, 
					var(--color-2) 39%,
					transparent 39%,transparent 40%, 
					var(--color-3) 40%,
					var(--color-3) 59%,
					transparent 59%,transparent 60%, 
					var(--color-4) 60%, 
					var(--color-4) 79%,
					transparent 79%,transparent 80%, 
					var(--color-5) 80%);
    background-size: 20% 100%;
	background-position: 70% 100%;
	background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sectionMiddle .textEffect .effect4 {
	font-size: 60px;
	background-color: #000;
	color: #fff;
	position: relative;
}
.sectionMiddle .textEffect .effect4::before,.sectionMiddle .textEffect .effect4::after {
	content: attr(data-text);
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	overflow:hidden;
	animation:noise-anim 2s infinite linear alternate-reverse;
}
.sectionMiddle .textEffect .effect4::before {text-shadow:-2px 0 red;}
.sectionMiddle .textEffect .effect4::after {text-shadow: 2px 0 blue;animation-duration: 3s;}
@keyframes gradient {
	100% {background-position: 100% 0;}
}
@keyframes noise-anim {
  0% {
    clip: rect(71px, 9999px, 42px, 0); }
  5% {
    clip: rect(8px, 9999px, 13px, 0); }
  10% {
    clip: rect(74px, 9999px, 84px, 0); }
  15% {
    clip: rect(44px, 9999px, 85px, 0); }
  20% {
    clip: rect(24px, 9999px, 73px, 0); }
  25% {
    clip: rect(10px, 9999px, 26px, 0); }
  30% {
    clip: rect(9px, 9999px, 68px, 0); }
  35% {
    clip: rect(26px, 9999px, 95px, 0); }
  40% {
    clip: rect(57px, 9999px, 67px, 0); }
  45% {
    clip: rect(36px, 9999px, 26px, 0); }
  50% {
    clip: rect(44px, 9999px, 34px, 0); }
  55% {
    clip: rect(80px, 9999px, 62px, 0); }
  60% {
    clip: rect(70px, 9999px, 57px, 0); }
  65% {
    clip: rect(12px, 9999px, 84px, 0); }
  70% {
    clip: rect(64px, 9999px, 13px, 0); }
  75% {
    clip: rect(14px, 9999px, 31px, 0); }
  80% {
    clip: rect(95px, 9999px, 61px, 0); }
  85% {
    clip: rect(73px, 9999px, 80px, 0); }
  90% {
    clip: rect(77px, 9999px, 25px, 0); }
  95% {
    clip: rect(30px, 9999px, 21px, 0); }
  100% {
    clip: rect(94px, 9999px, 19px, 0); } }

.sectionComic {
	min-height: 400vh;
	margin-bottom: -100vh;
	--lt-content-min-height: 100vh;
    --lt-sticky-top: 0;
    --color-sticky-bg: #fff;
}
.sectionComic .stickyWrapper {
	background-color: var(--color-sticky-bg);
}

/* sCe */
.sectionComicEnd {
    background: linear-gradient(180deg, #C6AEED, #f5f5f7 70%);
    min-height: 400vh;
    margin-bottom: -100vh;
    --lt-content-min-height: 100vh;
    --lt-sticky-top: 0;
}
.comicEndTitle {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 20%;
}
.comicEndText {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5em;
	height: 1.5em;
	font-size: 40px;
}
.comicEndPic {
	width: 300px;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%,0%);
}

/* sAro */
.sectionAround {
    height: 100vh;
}
.aroundWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, rgba(255,200,200,1) 0%, rgba(255,255,255,1) 100%);
}
.aroundWrapper::after {
	content: '';
	display: block;
	width: 100%;
	height: 80px;
	background: url(../img/envelope/half-envelopeBG.png) center bottom/80px 80px repeat-x;
	position: absolute;
	bottom: 0;
	left: 0;
}
.aroundMid {
	width: 250px;
	height: 250px;
	background-color: #fa0;
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%,0);
}
.aroundWrapper #iphone1 {
    width: 600px;
    height: 557px;
    background-image: url(../img/around/iphone1.png);
    background-size: 600px 557px;
    background-repeat: no-repeat;
    position: absolute;
    top: 6%;
    left: 71%;
    transform: translateX(-770px);
}
.aroundWrapper #iphone2 {
    width: 850px;
    height: 557px;
    background-image: url(../img/around/iphone2.png);
    background-size: 850px 557px;
    background-repeat: no-repeat;
    position: absolute;
    top: -23%;
    right: 30%;
    transform: translateX(730px);
}
.aroundWrapper #iphone3 {
    width: 850px;
    height: 557px;
    background-image: url(../img/around/iphone3.png);
    background-size: 850px 557px;
    background-repeat: no-repeat;
    position: absolute;
    top: 72%;
    left: 30%;
    transform: translateX(-730px);
}
.aroundWrapper #iphone4 {
    width: 600px;
    height: 557px;
    background-image: url(../img/around/iphone4.png);
    background-size: 600px 557px;
    background-repeat: no-repeat;
    position: absolute;
    top: 46%;
    right: 74%;
    transform: translateX(770px);
}
@media screen and (min-width: 992px) {
	.sectionAround {height: 120vh;}
	.aroundMid {top: 36%;left: 50%;}
	.aroundWrapper #iphone1 {top: 6%;left: 50%;}
	.aroundWrapper #iphone2 {top: -15%;right: 50%;}
	.aroundWrapper #iphone3 {top: 60%;left: 50%;}
	.aroundWrapper #iphone4 {top: 40%;right: 50%;}
}

/* sEnv */
.sectionEnvelope {
	height: 350vh;
	--lt-content-min-height: 100vh;
    --lt-sticky-top: 0;
}
.envelopeWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 100vh;
    background: url(../img/envelope/envelopeBG.jpg) center/80px 80px;
    position: relative;
    overflow: hidden;
}
.envelopePuzzpleBox {
	width: 100%;
	max-width: 600px;
	aspect-ratio: 600/480;
	position: relative;
}
.envelopePuzzple {
	width: 33%;
	aspect-ratio: 200/160;
	background: center/cover no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/* 33% 除以200/160 = 26.4% */
.envelopePuzzple#puzzple1 {background-image: url(../img/envelope/puzzle1.jpg);margin-top: -26.4%;margin-left: -33%;}
.envelopePuzzple#puzzple2 {background-image: url(../img/envelope/puzzle2.jpg);margin-top: -26.4%;}
.envelopePuzzple#puzzple3 {background-image: url(../img/envelope/puzzle3.jpg);margin-top: -26.4%;margin-left: 33%;}
.envelopePuzzple#puzzple4 {background-image: url(../img/envelope/puzzle4.jpg);margin-left: -33%;}
.envelopePuzzple#puzzple5 {background-image: url(../img/envelope/puzzle5.jpg);}
.envelopePuzzple#puzzple6 {background-image: url(../img/envelope/puzzle6.jpg);margin-left: 33%;}
.envelopePuzzple#puzzple7 {background-image: url(../img/envelope/puzzle7.jpg);margin-top: 26.4%;margin-left: -33%;}
.envelopePuzzple#puzzple8 {background-image: url(../img/envelope/puzzle8.jpg);margin-top: 26.4%;}
.envelopePuzzple#puzzple9 {background-image: url(../img/envelope/puzzle9.jpg);margin-top: 26.4%;margin-left: 33%;}
.envelopeComplete {
	width: 100%;
	aspect-ratio: 600/480;
	background: url(../img/envelope/envelope.jpg) center/cover no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.envelopeBtn {
	display: inline-block;
	font-size: 20px;
	padding: 5px 20px;
	text-decoration: none!important;
	text-align: center;
	color: #fff;
	background-color: #e86581;
	border-radius: 50px;
	animation: glowing 1300ms infinite;
	transition: .3s;
	position: absolute;
	top: 54%;
	left: 34%;
	transform: translateY(100px);
	opacity: 0;
}
.envelopeBtn.active {
	transform: translateY(0px);
	opacity: 1;
}
@media screen and (min-width: 992px) {
	.envelopeBtn {top: 58%;left: 45%;}
}
.envelopeBtn:hover {color: #fff;}
@keyframes glowing {
    0% {
      background-color: #b21537;
      box-shadow: 0 0 5px #b21537;
    }
    50% {
      background-color: #e86581;
      box-shadow: 0 0 20px #e86581;
    }
    100% {
      background-color: #b21537;
      box-shadow: 0 0 5px #b21537;
    }
}